<div class="header">
  <div class="content">
    <div class="headline">
      <h1 class="lime">
        The Boston Challenge
      </h1>
      <div class="counter">10 days left</div>
    </div>
    <div class="navi">
      <a href="">About</a>
    </div>
  </div>
</div>

<div class="challenge-list">
  <% @challenges.each do |challenge| %>
    <div class="challenge">
      <div class="content">
        <div class="date lime"><%= challenge.date %></div>
        <div class="description"><%= challenge.text %></div>
        <%= link_to "Solve!", edit_challenge_path(challenge),  class:"button" %>
      </div>
    </div>
  <% end %>
</div>
