<div class="header">
  <div class="content">
    <div class="headline">
      <h1 class="lime">
        About
      </h1>
      <div class="info"></div>
    </div>
    <div class="navi">
      <%= link_to 'Home', root_path %>
    </div>
  </div>
</div>

<div class="content">
  <br/>
  Boston-Challenge is for Ben who will live and work in Boston for 72 days.
  His friends back in Vienna thought about great challenges he has to solve and share with us during his stay in the US.
  <br/>
  Just because living there is not challenging enough ;)
  <br/>
  Have a great time, Ben. We will miss you!
  <br/><br/>
  Thx for your support @michaelem and @alexandertacho. Without you I wouldn't have made it on time.
  <br/><br/>
  From Krissi with <3 <3 <3
</div>

