<div class="header">
  <div class="content">
    <div class="headline">
      <h1 class="lime">
        About
      </h1>
      <div class="info"></div>
    </div>
    <div class="navi">
      <%= link_to 'Home', root_path %>
    </div>
  </div>
</div>

<div class="content">
  <br/>
  This page is about Boston-Challenge
</div>

