<div class="header">
  <div class="content">
    <div class="headline">
      <h1 class="lime">
        <%= @challenge.date.to_s(:day_and_month) %>
      </h1>
    </div>
    <div class="subline">
      <%= @challenge.title %>
    </div>
    <div class="navi">
      <% if current_user.admin? %>
        <%= link_to 'Manage Challenges', admin_challenges_path %>
      <% end %>
    </div>
  </div>
</div>
<div class="content">
  <p>
    <%= render 'form' %>
  </p>
</div>
