<div class="challenge">
  <div class="date <%= @challenge.approved ? "entypo-check" : "" %>">
    <%= @challenge.date.to_s(:day_and_month) %>
    <span class="title"><%= @challenge.title %></span>
  </div>

  <div class="content">
    <p>
      <%= render 'form' %>
    </p>
  </div>
</div>
