<div class="header">
  <div class="content">
    <div class="headline">
      <h1 class="lime">
        New Challenge
      </h1>
  	</div>
  </div>
</div>
<div class="content">
	<p>
    <%= form_for(@challenge, :url => [:admin, @challenge]) do |f| %>
      <%= render f %>
    <%end%>
	</p>
</div>

