<div class="header">
  <div class="content">
    <div class="headline">
      <h1 class="lime">
        New Challenge
      </h1>
  	</div>
  </div>
</div>
<div class="content">
	<p>
		<%= render 'form' %>
	</p>
</div>

