.challenge-list{
  .challenge {
    &:nth-child(3n+1){
      a, a:link, input[type="submit"]{
        color: $seafoam;
      }
    }
    &:nth-child(3n+2){
      a, a:link, input[type="submit"]{
        color: $strawberry;
      }
    }
    &:nth-child(3n){
      a, a:link, input[type="submit"]{
        color: $aqua;
      }
    }
    .date{
      &:after {
        position: absolute;
        right: 5%;
        top: 60%;
        font-family: 'entypo', sans-serif;
        content: "\e760";
        color: $textgrey;
        font-size: 1.5em;
        margin-top: -0.7em;
      }
      &.open:after{
        content: "\e763";
      }
    }
  }
}
.challenge{
  @extend .seperator;
  .date{
    padding: 20px 3%;
    position: relative;
    font-size: 24px;
    .title{
      display: block;
      font-size: 15px;
      color: $textgrey;
    }

  }
  .description{
    margin-bottom: 15px;
  }
}

.answer_pic {
  width: 100%;
}
