$background: #23292e;
$seafoam: #00fa92;
$aqua: #0096ff;
$strawberry: #ff0080;
$white: #ffffff;
$black: #000000;
$seperatorgrey: #505050;
$textgrey: #5c5a5e;

.strawberry{
  color: $strawberry;
}

.aqua{
  color: $aqua;
}

.seafoam{
  color: $seafoam;
}


