$background: #23292e;
$seafoam: #00fa92;
$aqua: #0096ff;
$strawberry: #ff0080;
$white: #ffffff;
$lime: #80ff00;

.lime{
  color: $lime;
}

.strawberry{
  color: $strawberry;
}

.aqua{
  color: $aqua;
}

.seafoam{
  color: $seafoam;
}


