input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  background-color: $background;
  border: 1px solid $buttongrey;
  padding: 8px 10px;
  color: $white;
}

textarea{
  width: 100%;
  height: 120px;
}

input[type="submit"],
input[type="button"],
input[type="file"]{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: $buttongrey;
  color: $white;
  border: none;
  padding: 8px 10px;
  &.hidden{
    display: none;
  }
}