@import 'colors';
@import 'buttons';
@import 'challenges';
@import 'form';
@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

body{
  background-color: $background;
  color: $white;
  font-family: 'Roboto', Verdana, sans-serif;
  font-weight: 100;
  font-size: 18px;
  margin: 0;
  padding: 0;
  input, textarea{
    font-family: 'Roboto', Verdana, sans-serif;
    font-weight: 100;
    font-size: 18px;
  }
}
@media (min-width: 650px){
  body {
    width: 320px;
  }
}

a, a:link{
  text-decoration: none;
  color: $white;
  display: block;
}

.content{
  padding: 0 3%;
}

h1{
  letter-spacing: 1.5px;
  line-height: 1.0;
}

.notice, .alert{
  padding: 0 3%;
  margin: 0;
  font-size: 15px;
  color: $textgrey;
}

.seperator{
  &:after{
    content: "";
    border-bottom: 1px solid $seperatorgrey;
    border-top: 1px solid $black;
    display: block;
    width: 100%;
  }
}

.header{
  position: relative;
  .headline{
    background-color: $seafoam;
    font-weight: 400;
    width: 100%;
    text-align: center;
    color: $black;
    font-weight: bold;
    font-size: 15px;
    line-height: 1.0;
    padding-top: 10px;
  }
  .logo{
    background-color: $seafoam;
    padding: 10px 0;
    .logopic{
      background: url(image-path('logo.png'));
      background-size: 95.5px 103.5px;
      width: 96.5px;
      height: 103.5px;
      margin: 0 auto;
    }
  }
}

.navi{
  padding: 5% 0;
  a, a:link{
    font-size: 15px;
    color: $textgrey;
    display: inline-block;
    &:after{
      content: " |";
      color: $textgrey;
    }
    &:last-child:after{
      content: "";
    }
  }
}
