<div class="header">
  <div class="headline">
    The</br>
    <span style="font-size: 25px;">BOSTON</span><br/>
    challenge<br/>
  </div>
  <div class="logo">
    <div class="logopic"></div>
  </div>
</div>
