<div class="">
  <%= link_to '#all', challenges_path, class: 'button_tag' %>
  <%= link_to '#not_approved', challenges_path(not_approved: "true"), class: 'button_tag' %>
  <%= link_to '#approved', challenges_path(approved: "true"), class: 'button_tag' %>
</div>
